header,h1,h2,h3,footer {
    background-color: #522e1e;
    color:rgb(250, 233, 215);
}
header {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.header-text {
    text-align: left;
}
#header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#header-content img {
    max-height: 70vh;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Navigation */
nav {
    background-color: #eaeef0;
    color: #0c213f
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.nav-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}
nav ul{
    padding: 0;
    margin: 0;
    display: inline-block;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
nav ul a {
    color: #e8edf4;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}
nav ul li a:hover {
    background: #3d2437;
    color: #ffffff;
}

.welcome {
    background-color: #F2E3D5;
    color: #452315;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

main {
    padding: 20px;
    margin: 0 auto;
}

/* About page lists */
#about ul {
    padding: 0;
}

.account-info {
    background-color: #e0eff4;
    color: #13283c;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.saved-recipes {
    background-color: #e8edf4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}
.saved-recipes h3 {
    margin-top: 0;
}  
.saved-recipes ul {
    list-style-type: disc;
    padding-left: 20px;
}

.recipe-gallery {
    display: grid;
    gap: 20px;
}

/* Diet pages */
.diet-item {
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    font-family: "DM SErif Display", serif;
}

.diet-item img {
    width: 100%;
    height: 260px;
}

.diet-item h3 {
    position: relatie;
    top: -55px;
    padding: 12px 20px;
    font-size: 1.8em;
    width: fit-content;
    border-radius: 0 12px 12px 0;
}


/* Tablets (portrait and landscape) */
@media (max-width: 992px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main section, main article, .content-box {
    flex: 1 1 100%;
  }
}

/* Mobile phones */
@media (max-width: 600px) {
  header {
    font-size: 1.2em;
    padding: 0.8em 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 8px 0;
  }

  main {
    flex-direction: column;
    margin: 1em 0;
  }

  .content-box, main section, main article {
    flex: 1 1 100%;
    padding: 0.8em;
  }

  footer {
    font-size: 0.8em;
  }
}
